/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.food-table {
  width: 80%;
  border: 2px solid;
  margin: 3% 0 0 10%;
  padding: 0;
  text-align: center;
}

.food-table td,
th {
  border: 1px solid #edebeb;
  padding: 8px;
}

.food-table tr:nth-child(odd) {
  background-color: #edebeb;
}

.food-table button {
  border: none;
  text-decoration: underline;
  color: blue;
  background-color: transparent;
}

.new-food {
  display: flex;
  justify-content: end;
  margin: 0 10% 0 0;
}

.new-food a {
  text-decoration: none;
  border: solid 2px;
  padding: 5px;
}

/* INVENTORY */
.notice {
  color: green;
}

.inventory-section {
  width: 70%;
  margin: 4rem auto;
}

.inventory-section * {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.inventory-section h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
  width: 100%;
  text-align: center;
}

.inventory-section h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}

.inventory-section p {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.9;
}

.inventory-section li {
  list-style: none;
}

.inventory-section table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 2px solid #000;
  width: 100%;
}

.inventory-section th {
  background-color: #e5e5e5;
  border: 2px solid #000;
  border-bottom: none;
}

.inventory-section td {
  border: 2px solid #000;
  border-top: none;
  border-bottom: none;
  opacity: 0.9;
}

.inventory-section td,
.inventory-section th {
  text-align: left;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
}

.inventory-section tr:nth-child(even) {
  background-color: #f5f5f5;
}

.inventory-empty-data {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
  background-color: #f5f5f5;
}

.inventory-new {
  color: #0151ff;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
}

.inventories-list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 2px #000 solid;
  margin-bottom: 2rem;
  padding: 1rem;
}

.inventory-remove {
  outline: none;
  border: none;
  background-color: transparent;
  color: #0151ff;
  border-bottom: 1px #0151ff solid;
  font-size: 13px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.inventories-list span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inventories-list span a {
  text-decoration: none;
}

.inventories-list span a:hover,
.inventories-list span button:hover {
  opacity: 0.7;
}

.inventory-form-cont {
  width: 500px;
  margin: 40px auto;
  display: grid;
  row-gap: 15px;
  font-family: sans-serif;
}

.inventory-form-cont h1 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0;
}

.inventory-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.inventory-form {
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
}

.inventory-label {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.inventory-input,
.inventory-textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 2px #000 solid;
}

.inventory-textarea {
  height: 200px;
  margin-bottom: 20px;
}

.inventory-add-btn,
.inventory-submit-btn {
  border: 2px #000 solid;
  background-color: transparent;
  box-shadow: 4px 4px 1px rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.inventory-add-btn {
  padding: 0.5rem 3rem;
  text-decoration: none;
  color: #000;
}

.inventory-submit-btn {
  width: 100%;
  padding: 10px 0;
}

.inventory-form-cont select {
  padding: 10px;
  border: 2px #000 solid;
  margin-bottom: 20px;
}

/* Recipes */
.recipe-section {
  width: 70%;
  margin: 4rem auto;
}

.recipe-section * {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.recipe-section h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
  width: 100%;
  text-align: center;
}

.recipe-section h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}

.recipe-section p {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.9;
}

.recipe-section li {
  list-style: none;
}

.recipe-section table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 2px solid #000;
  width: 100%;
}

.recipe-section th {
  background-color: #e5e5e5;
  border: 2px solid #000;
  border-bottom: none;
}

.recipe-section td {
  border: 2px solid #000;
  border-top: none;
  border-bottom: none;
  opacity: 0.9;
}

.recipe-section td, 
.recipe-section th {
  text-align: left;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
}

.recipe-section tr:nth-child(even) {
  background-color: #f5f5f5;
}

.recipe-empty-data {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
  background-color: #f5f5f5;
}

.recipe-new {
  color: #0151ff;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
}

.recipes-list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 2px #000 solid;
  margin-bottom: 2rem;
  padding: 1rem;
}

.recipe-remove {
  outline: none;
  border: none;
  background-color: transparent;
  color: #0151ff;
  border-bottom: 1px #0151ff solid;
  font-size: 13px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.recipes-list span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes-list span a {
  text-decoration: none;
}

.recipes-list span a:hover,
.recipes-list span button:hover {
  opacity: 0.7;
}

.recipe-form-cont {
  width: 500px;
  margin: 40px auto;
  display: grid;
  row-gap: 15px;
  font-family: sans-serif;
}

.recipe-form-cont h1 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.recipe-form {
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
}

.recipe-label {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.recipe-input,
.recipe-textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 2px #000 solid;
} 

.recipe-textarea {
  height: 200px;
  margin-bottom: 20px;
}

.recipe-add-btn, 
.recipe-submit-btn {
  border: 2px #000 solid;
  background-color: transparent;
  box-shadow: 4px 4px 1px rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.recipe-add-btn {
  padding: 0.5rem 3rem;
  text-decoration: none;
  color: #000;
} 

.recipe-submit-btn {
  width: 100%;
  padding: 10px 0;
}

.recipe-form-cont select {
  padding: 10px;
  border: 2px #000 solid;
  margin-bottom: 20px;
}

.recipe-form-cont .recipe-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.recipe-form-cont .recipe-form .recipe-label {
  margin-top: 0;
} 

.recipe-form-cont .recipe-form .recipe-input {
  width: 100%;
}

.recipe-form-cont .recipe-form .recipe-input:last-child {
  margin-bottom: 20px;
} 
